.card {
  border-bottom: 1px solid var(--blue);
  padding: 1.75rem;
  margin-bottom: 2.75rem;
}

.card__article__header__title {
  font-size: var(--h2);
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
}

.card__tags__item {
  margin-right: 0.75rem;
}

@media (max-width: 577px) {
  .card {
    padding: 0.25rem;
  }
}
