.footer {
  margin: auto;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  width: 75%;
  border-top: 1px solid var(--blue);
}

.footer__contact {
  color: var(--darker-pink);
  font-size: var(--p);
}

.footer__contact:hover {
  color: var(--pink);
}