.footer {
  border-top: 1px solid var(--blue);
  display: grid;
  grid-template-areas: 'mail links';
  grid-template-columns: repeat(2, 1fr);
  margin: 2.75rem auto;
  max-width: 1200px;
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
  width: 75%;
}

.footer__header {
  color: var(--darkest-blue);
  font-weight: 600;
  line-height: 0.35rem;
}

.footer__contact__mail {
  color: var(--darker-pink);
  font-size: var(--p);
  grid-area: mail;
}

.footer__contact__mail:hover {
  color: var(--pink);
}

.footer__social {
  text-align: right;
  color: var(--darkest-blue);
  grid-area: links;
}

@media (max-width: 577px) {
  .footer {
    grid-gap: 20px;
    grid-template-areas: 'mail' 'links';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}
