.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  max-width: 1200px;
  width: 75%;
}

.header__title {
  display: flex;
  justify-content: flex-start;
  padding: 1.75rem;
}

.header__title__link {
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-repeat: repeat;
  background-size: 100%;
  background-image: linear-gradient(
    45deg,
    var(--pink) 0 16.6%,
    var(--darker-pink) 0 33.3%,
    var(--blue) 0 49.8%,
    var(--darker-blue) 0 66.4%,
    var(--green) 0 83%
  );
  font-size: var(--h3);
  font-weight: 600;
  text-fill-color: transparent;
}

.header__title__link:hover {
  animation: rainbow-text 0.7s ease-in forwards;
}

.menu {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  font-size: var(--p);
}

.menu__item__link::before,
.active::before {
  background-image: linear-gradient(
    45deg,
    var(--pink) 0 16.6%,
    var(--darker-pink) 0 33.3%,
    var(--blue) 0 49.8%,
    var(--darker-blue) 0 66.4%,
    var(--green) 0 83%
  );
  background-repeat: repeat;
  background-size: 100%;
  border-radius: 5px;
  content: '';
  display: block;
  height: 5px;
  left: 50%;
  position: relative;
  top: 1.95rem;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.5s ease-in-out;
}

.menu__item__link:hover::before,
.menu__item__link.active::before {
  animation: rainbow-text 0.7s ease-in forwards;
  width: 100%;
}

@keyframes rainbow-text {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

@media (max-width: 769px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .header__title {
    justify-content: center;
  }
}

@media (max-width: 577px) {
  .header {
    width: 95%;
  }
}
