.main {
  color: var(--darkest-blue);
  margin: 7.75rem auto;
  max-width: 600px;
  min-height: 90vh;
  width: 75%;
}

.home.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home.main > h1 {
  font-size: var(--h2);
  align-self: start;
  margin-bottom: 1.75rem;
}

.home.main > p {
  font-size: 1.45rem;
  line-height: 2.05rem;
}

@media (max-width: 577px) {
  .main {
    width: 85%;
  }
}
