html {
  line-height: 1.15;
}

body {
  font-size: 100%;
  font-family: var(--font-family);
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: var(--darker-blue);
  font-size: var(--p);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

h1 {
  font-size: var(--h1);
  margin: 0.67rem 0;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

p {
  font-size: var(--p);
  line-height: 1.75rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}