html {
  line-height: 1.15;
}

body {
  font-size: 100%;
  font-family: var(--font-family);
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: var(--darker-blue);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

h1 {
  font-size: var(--h1);
  margin: 0.67rem 0;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

figure {
  margin: 1.75rem auto;
}

figcaption {
  text-align: center;
}

p {
  font-size: var(--p);
  line-height: 1.75rem;
}

blockquote > p {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.75rem;
}

img {
  width: 100%;
}

[hidden] {
  display: none;
}
