<footer class="footer">
  {{ if or $.Site.Params.Contact.email $.Site.Params.links }}
  {{ if $.Site.Params.Contact.email }}
  <div class="footer__contact">
    <p class="footer__header">
      {{ $.Site.Params.Contact.text | default "Contact me at:" }}</p>
    <a
      class="footer__contact__mail"
      href="mailto:{{ $.Site.Params.Contact.email }}"
      >{{ $.Site.Params.Contact.email }}</a>
  </div>
  {{ end }}

  {{ if $.Site.Params.links }}
  <div class="footer__social">
    <p class="footer__header">
      {{ $.Site.Params.Social.text | default "Find me on:"}}
    </p>
    {{ $items := $.Site.Params.links }}
    {{ $len := (len $items) }}

    {{ if gt $len 0 }}
    {{ range $k, $v := $items }}
    {{ if $v }}
    <a
      class="footer__social__link"
      href="{{ $v }}"
      target="_blank"
      rel="noopener noreferrer"
      >{{ $k }}</a> /
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

  {{ if $.Site.Copyright }}
  <div class="footer__copy">
  <p>{{ safeHTML $.Site.Copyright }}</p>
  </div>
  {{ end }}
</footer>