<header class="header">
  <div class="header__title">
    <a href="{{ $.Site.BaseURL }}" class="header__title__link" alt="Home">
      {{ $.Site.Title }}
    </a>
  </div>

  <nav class="nav">
    <ul class="menu">
      {{ $current := . }}
      {{ range $.Site.Menus.main }}
      <li class="menu__item">
        <a
          href="{{ .URL }}"
          class="menu__item__link {{ if $current.IsMenuCurrent "main" . }} active {{ end }}"
          aria-current="{{ if $current.IsMenuCurrent "main" . }} page {{ end }}"
          alt="{{ .Name }}"
          >
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>